:root {
  --color-text-number-form: rgb(22, 24, 35);
  --color-link-number-form: rgba(22, 24, 35, 0.75);
  --background-color-form: rgb(241, 241, 242);
  --border-color: rgba(22, 24, 35, 0.12);
  --caret-color: rgb(254, 44, 85);
  --input-height: 44px;
  --font-size-default: 1.6rem;
  --border-radius: 2px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 363px;
  margin: 46px auto auto;
  padding: 0;
}

.header {
  color: var(--color-text-number-form);
  font-size: 3.2rem;
  text-align: center;
  margin: 32px auto;
}

.description {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--color-text-number-form);

  &-link {
    color: var(--color-link-number-form);
    font-size: 1.2rem;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

.input-container {
  position: relative;
  caret-color: var(--caret-color);
  margin-bottom: 9px;
}

%input-base {
  width: 100%;
  height: var(--input-height);
  padding-inline-start: 12px;
  font-size: var(--font-size-default);
  color: var(--color-text-number-form);
  background-color: var(--background-color-form);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.input-email,
.input-use,
.phone-input-number,
.phone-input-digit-code {
  @extend %input-base;
}

.phone-container {
  display: flex;
  background-color: var(--background-color-form);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 9px;
}

.country-phone-code {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: var(--input-height);
  border-right: 1px solid var(--border-color);

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: var(--background-color-form);
    right: 0;
  }
}

.phone-country {
  margin-inline-end: 12px;
}

.triangle-icon {
  cursor: pointer;
}

.phone-input-number {
  flex: 1;
}

.phone-code-container {
  display: flex;
  justify-content: space-between;
}

.input-code {
  margin-bottom: 9px;
  width: 100%;
  background-color: var(--background-color-form);
}

.phone-input-digit-code {
  height: 47px;
  border-radius: 4px 0 0 4px;
}

%button-base {
  color: rgba(22, 24, 35, 0.34);
  background-color: var(--background-color-form);
  font-weight: 600;
  font-size: var(--font-size-default);
  height: var(--input-height);
  margin-left: 0;
  cursor: not-allowed;
}

.btn-send-code,
.btn-login {
  @extend %button-base;
}

.show-hide-icon {
  position: absolute;
  right: 16px;
  top: 0;
  height: var(--input-height);
  color: rgba(22, 24, 35, 0.6);
  cursor: pointer;
}

.btn-login {
  margin-top: 22px;
}
