.wrapper {
  --background-color-form: rgb(241, 241, 242);

  width: 363px;
  padding: unset;
}

.div-container {
  height: 270px;
  padding-inline-end: 4px;
  overflow-y: scroll;
}

.title {
  display: flex;
  justify-content: space-between;
  color: rgb(22, 24, 35);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.title-link {
  color: rgba(22, 24, 35, 0.75);
  font-weight: 600;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }
}

.input-info {
  height: 44px;
  width: 100%;
  font-size: 1.6rem;

  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  margin-bottom: 10px;

  caret-color: rgb(254, 44, 85);
  background-color: var(--background-color-form);

  display: flex;
  padding-inline-start: 12px;
}

.input-container {
  caret-color: rgb(254, 44, 85);
  background-color: var(--background-color-form);
  width: 100%;
}

.container-code {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.input-code {
  margin-bottom: 9px;
  width: 100%;
  background-color: var(--background-color-form);
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
}

.input-digit-code {
  caret-color: rgb(254, 44, 85);
  color: var(--color-text-number-form);
  background-color: var(--background-color-form);
  padding-inline-start: 12px;
  font-size: 1.6rem;
  height: 47px;
  border-radius: 4px 0px 0px 4px;
}

.btn-send-code {
  color: rgba(22, 24, 35, 0.34);
  background-color: var(--background-color-form);
  font-weight: 600;
  font-size: 1.6rem;
  height: 44px;
  margin-left: 0;
  cursor: not-allowed;
}

.div-checkbox {
  margin-top: 9px;
  display: flex;
}

.div-checkbox-wrapper {
  position: relative;
  width: 32px;
}

.input-checkbox {
  display: block;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.label-check {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 22px;
  height: 22px;
}

.checkbox-icon {
  display: inline-block;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 22px;
  height: 22px;
  padding: 3px 0px;
  text-align: center;
  background: rgb(255, 255, 255);

  border-radius: unset;
  border: 1px solid rgba(22, 24, 35, 0.5);
}

.label-checkbox-text {
  display: inline;
  color: rgba(22, 24, 35, 0.75);
  font-size: 12px;
  margin-left: 8px;
}

.label-check {
  width: 22px;
  height: 22px;
  border-radius: unset;
  border: 1px solid rgba(22, 24, 35, 0.5);
}

.btn-next {
  background-color: var(--background-color-form);
  color: rgba(22, 24, 35, 0.34);
  margin-top: 22px;
  margin-left: 0;
  width: 100%;
  border: solid 0px transparent;
}
