.wrapper {
  border-top: 1px solid rgba(22, 24, 35, 0.12);

  &.dark {
    border-top: 1px solid rgb(47, 47, 47);
  }
}

.label {
  font-size: 1.4rem;
  padding: 8px;
  font-weight: 600;
  color: var(--text-color);

  &.dark {
    color: rgba(255, 255, 255, 0.5);
  }
}

.account-item {
  display: flex;
  padding: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.item-info {
  flex: 1;
  margin-left: 12px;
}

.nickname {
  line-height: 1;
  font-size: 1.6rem;
  color: #161823;

  &.dark {
    color: white;
  }
}

.check {
  font-size: 1.4rem;
  color: #20d5ec;
  margin-left: 4px;
}

.name {
  font-size: 1.2rem;
  opacity: #161823bf;
}

.more-btn {
  font-size: 1.4rem;
  color: #fe2c55;
  padding: 9px;
  font-weight: 600;
  cursor: pointer;
}
