.wrapper {
  position: relative;
}

.bottom-container {
  position: fixed;
  top: 900px;
  right: 5px;
}

.get-app {
  color: rgba(22, 24, 35, 0.75);
  font-weight: 700;

  border-radius: 52px;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgb(255, 255, 255);
  }

  &.dark {
    background: none rgb(37, 37, 37);
    color: rgba(255, 255, 255, 0.9);
  }
}
