.wrapper {
  position: fixed;
  inset: 0;
  z-index: 20;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  z-index: 21;
  width: 483px;
  height: 641px;
  overflow-y: scroll;
}

.close-login-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  background-color: var(--background-color);
  cursor: pointer;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.back-login-icon {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  background-color: var(--background-color);
  cursor: pointer;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
