// Variables
:root {
  --dark-background-color: rgb(49, 49, 49);
  --dark-text-color: white;
  --border-color: rgb(22, 24, 35, 0.12);
  --hover-background-color: var(--background-color);
}

//menu wrapper
.menu-list {
  width: 224px;

  .menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
  }
}

.menu-popper {
  padding-bottom: 8px;

  &.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }
}

.menu-body {
  overflow-y: auto;
}

// Menu items
.menu-item {
  position: relative;
  width: 100%;
  padding: 11px 16px;
  line-height: 1.8rem;
  border-radius: 0;
  font-weight: 600;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;

  &.separate {
    border-top: 1px solid var(--border-color);

    &.dark {
      border-top: 1px solid var(--dark-text-color);
    }
  }

  &:hover {
    background-color: var(--hover-background-color);
  }

  &.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);

    &:hover {
      background: rgba(255, 255, 255, 0.04);
    }
  }
}

.menu-item .tick-icon {
  position: absolute;
  right: 12px; /* Đặt dấu tick ở bên phải */
  top: 50%;
  transform: translateY(-50%); /* Đặt dấu tick giữa theo chiều dọc */
  width: 16px;
  height: 16px;
}

// header
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
  flex-shrink: 0;
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;

  &.dark {
    color: var(--dark-text-color);
  }
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.6rem;
  font-weight: 600;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
