$background-color: rgb(255, 255, 255);
$color: rgb(0, 0, 0);

.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-height: min((100vh - 96px) - 60px, 734px);
  min-height: 100px;
  padding-top: 8px;
  background: $background-color;
  box-shadow: $color 0px 2px 12px / 12%;
  border-radius: 8px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
