.search,
.search-result {
  width: 500px;
}

.search {
  position: relative;
  display: flex;
  z-index: 1;

  height: var(--search-height);
  padding-left: 16px;
  background-color: var(--background-color);

  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;

  -webkit-border-radius: var(--search-border-radius);
  -moz-border-radius: var(--search-border-radius);
  -ms-border-radius: var(--search-border-radius);
  -o-border-radius: var(--search-border-radius);

  input {
    flex: 1;
    font-size: 1.6rem;
    color: var(--black);
    caret-color: var(--primary);
    font-weight: 400;
    height: 100%;
    background-color: transparent;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: var(--black);
  }

  // height: calc(46px - 9px * 2)
  // height: calc(46px - 18px)
  // height: 28px

  &::after {
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    width: 1px;
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:hover {
    border-color: var(--border-color);

    & .search-btn {
      background-color: var(--background-color);
      color: var(--black);
    }
  }

  // &:focus-within {
  //   border-color: rgb(22, 24, 35, 0.2);

  //   & .search-btn {
  //     background-color: var(--background-color);
  //   }
  // }
}

.search-title {
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  font-size: 1.6rem;
  color: rgb(22, 44, 35, 0.34);
  transform: translateY(-50%);

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);

}

.search-btn {
  z-index: 2;
  width: var(--search-button-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 2rem;
  color: rgb(22, 24, 35, 0.34);

  &:hover {
    color: var(--black);
    background-color: var(--background-color);
    cursor: pointer;
  }
}